    <footer class="footer">
      <div class="footer-p">Created by:  
        <a class="f-a" data-rel="external" href="mailto:n.swenda@gmail.com">
            Nikolina Švenda
        </a>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" 
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" 
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" 
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" 
            crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js">
    </script>
    </body>
</html>