    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>
        YelpCamp App
    </title>
            
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    <div class="container">
        <% if(error && error.length > 0) {%>
        <div class="alert alert-danger" role="alert">
            <%= error%>
        </div>
        <% }%>
        <% if(success && success.length > 0) {%>
        <div class="alert alert-success" role="alert">
            <%= success%>
        </div>
        <% }%>
    </div>
    <div class="landing-header">
        <h1>Welcome to YelpCamp!</h1>
        <a class="btn btn-lg btn-dark" href="/campgrounds">View All Campgrounds</a>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>